@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    background-color: #222831;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0.5rem;
    max-width: 1200px;
}

.navigation ul{

    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-family: "poppins";
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation a:hover{
    color: #00adb5;
}

hr{
    opacity: 20%;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}

.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
  }

.heroSub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    font-size: 3rem;
    color: #eeeeee;
}

.title{
    font-size: 4rem;
    color: #00adb5;
}

.heroBtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.hireMe{
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgpa(0,0,0,0.5);
}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
    
}

.textContainer{
    display: flex;
    flex-direction: column;
}

.textTitel{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName{
    color: #eeeeee;
}

.aboutTitle{
    color: #00adb5;
}

.aboutMaper{
    text-align: justify;
    color: rgba(238, 238, 238, 0.75);
}

.works{
    background-image: url(assets/svg/background.svg);
    padding: 10rem 10rem;
    margin: 5rem 0rem;
}

.worksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitel{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}

.works ul{
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.works li{
    border-radius: 16px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}

.works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}

.works li :hover{
    transform:scale(2) ;
}
